/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: ubuntu_mono;
  src: url(../../assets/fonts/UbuntuMono-R.ttf);
}

#background {
  transform: scale(0.75, 0.75);
  position: relative;
  height: 339px;
  width: 1126px;
  top: -275px;
  left: -250px;
  z-index: -5;
}

#back {
  margin: auto;
  margin-top: 100px;
  padding-top: 50px;
  border-radius: 5px;
  height: 310px;
  width: 800px;
  background-color: #e6e6e6;
}

#display {
  color: white;
  font-family: ubuntu_mono;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  margin-top: -339px;
  height: 200px;
  width: 700px;
  background-color: black;
  overflow-y: scroll;
}

.message {
  color:red 
}

.command {
  color: #00ff00;
}

.input {
  height: 30px;
  width: 100px;
}

.button {
  border: 0px;
  color: white;
  margin: auto;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  background-color: #2e8af2;
}

.button:hover {
  background-color: #63a6f2;
}

.button:disabled,
.button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.control {
  width: 700px;
  position: relative;
  left: 50px;
  top: 15px;
}

.label-ngram {
  position: relative;
  left: 50px;
  top: 5px;
}
